<ion-content>
  <!--header start-->
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" routerLink="/welcome"></ion-icon>
      <div id="logo">
        <img src="assets/icon/artkoto.png" alt="">
      </div>
      <div></div>
    </div>
    <h1>Art Ko To</h1>
  </div>
 <!--header end-->

 <!--paceholder start-->
  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>
        <h2>Welcome to Art ko To</h2>
        <!--<h3> </h3>-->
       
        <!--button-->
        <ion-button routerLink="/login" class="btn-signin" fill="outline" expand="block">Login</ion-button>
        <ion-button routerLink="/register" class="btn-signup" fill="outline" expand="block">Sign Up</ion-button>
        <!--button-->

        
    <!--divider start-->
    <div class="line-text">
      <span class="lines"></span>
      <span class="text">Contact Us</span>
    </div>
    <!--divider end-->

     <!--social media icon-->
    <!--//note: all icon is button-->
    <ion-card class="social-wrapper">
      <ion-card-content>
        <div class="socials">
          <ion-button class="btn-fb">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button class="btn-tw">
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-button>
          <ion-button class="btn-go">
            <ion-icon name="logo-google"></ion-icon>
          </ion-button>
          <ion-button class="btn-ph">
            <ion-icon name="call-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
     <!--social media icon-->

      </ion-card-content>
    </ion-card>
    <!--paceholder end-->
  </div>
</ion-content>
